/* color*/
:root {
    /* Primary */
    --paleBlue: hsl(225, 100%, 94%);
    --brightBlue: hsl(245, 75%, 52%);

    /* Neutral */
    --vPaleBlue: hsl(225, 100%, 98%);
    --desaturatedBlue: hsl(224, 23%, 55%);
    --darkBlue: hsl(223, 47%, 23%);
}
/* font */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/* layout */
@media screen and (max-width: 1440px){
    main{
        background-image: url(images/pattern-background-desktop.svg); 
    }
    #cardBody {
        width: 450px;
    }
    #txt{
        margin: 50px ;
    }
    #planSection { 
        width: 350px;
    }
    #planDetails{
        margin-right: 40px;
    }
}
@media screen and (max-width: 375px){
    main{
        background-image: url(images/pattern-background-mobile.svg);

    }
    #cardBody {
        width: 330px;
    }
    #txt{
        margin: 20px ;
    }
    #planSection { 
        width: 280px;
    }
    #planDetails{
        margin-right: 20px;
    }
 
}

/* ************************************** */
* {
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
}

main{
    background-color: var(--paleBlue);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cardBody {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    border-radius: 20px;
}
#cardBody img {
    min-height: 20%;
    border-radius: 20px 20px 0 0;
}

#summry h2 {
    color: var(--darkBlue);
    font-weight: 900;
    margin-bottom: 20px;
}
#summry p {
    color: var(--desaturatedBlue);
    line-height: 1.5;
    margin: 0 25px;
}
#planSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #f8f9fe;
    border-radius: 10px;
    height: 100px;
    margin: 30px 0;
}
#planDetails{
    display: flex;
    flex-direction: row;
    /* margin-right: 40px; */
    font-weight: 500;
    color: var(--desaturatedBlue);
}
#planDetails img{
    margin-right: 20px;
}
#title{
    font-weight: 900;
    color: var(--darkBlue);
    margin-bottom: 10px;
}
#changeBtn{
    font-weight: bold;
}
#changeBtn:hover{
    text-decoration: none;
    color: #8077cc;
}

#btns {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

button{
    background-color: #382ae1;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-weight: 900;
    margin-bottom: 30px;
    box-shadow: 0 10px 20px 0 rgba(45, 32, 168, 0.3);
}
button:hover{
    background-color: #766cf1 ;
}

#cancel{
    text-decoration: none;
    font-weight: 900;
color: var(--desaturatedBlue);
}
#cancel:hover{
color: #202c3e;
}

/* footer */

.attribution {
    font-size: 11px;
    text-align: center;
    /* margin-bottom: 5%; */
}

.attribution a {
    color: hsl(228, 45%, 44%);
}